*{margin: 0px;
	padding: auto;

	}


body{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	font-family: "segoe ui"
}
h1{
	color: white;
	text-align: center;
}
.thongtin b{
	text-align: center;
	color: white;
}
i {
    font-size: 20px;
    color: rebeccapurple;
}